<span>ID</span>: <strong data-bind="text: id"></strong><br>
<span>Name</span>: <strong data-bind="text: name"></strong><br>
<span>Material</span>: <strong data-bind="text: material"></strong><br>
<span>Vendor</span>: <strong data-bind="text: vendor"></strong><br>
<span>Weight</span>: <strong data-bind="text: weight"></strong><br>
<!-- ko if: getActive() != -1 -->
<button class="btn btn-danger btn-clear" data-bind="click: clear, attr: { id: id }">Clear</button>
<!-- /ko -->
