<table class="table">
    <thead>
        <tr>
            <th scope="col" width="50%">Name</th>
            <th scope="col" width="15%">Vendor</th>
            <th scope="col" width="12%">Material</th>
            <th scope="col" width="10%">Weight</th>
            <th scope="col" width="13%">Action</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: spools">
    <tr>
        <!--style="display: flex"-->
        <th scope="row" style="display: flex">
            <span data-bind="style: { color: '#' + filament.color_hex }" role="img" class="anticon" style="font-size: 42px; margin-right: 0px;">
                {% include 'icon_spool.svg' %}
            </span>
            <span data-bind="text: filament.name"
        </th>
        <td data-bind="text: filament.vendor.name"></td>
        <td data-bind="text: filament.material"></td>
        <td data-bind="text: parseInt(remaining_weight) + 'g'"></td>
        <td><button class="btn btn-primary" data-bind="click: $parent.selected, attr: { id: id }">Select</button></td>
    </tr>
    </tbody>
</table>
