<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Vendor</th>
            <th scope="col">Name</th>
            <th scope="col">Material</th>
            <th scope="col">Weight</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
    {% for spool in plugin_spoolman_spools %}
    <tr>
        <td scope="row">{{ spool.id }}</td>
        <td>{{ spool.filament.vendor.name }}</td>
        <td>{{ spool.filament.name }}</td>
        <td>{{ spool.filament.material }}</td>
        <td>{{ spool.remaining_weight|round|int }}g</td>
        <td><button id="{{ spool.id }}" class="btn btn-primary" data-bind="click: selected">Select</button></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
