<div data-bind="if: activeSpool">
    <span>ID</span>: <strong data-bind="text: activeSpool().id"></strong><br>
    <span>Name</span>: <strong data-bind="text: activeSpool().filament.name"></strong><br>
    <span>Material</span>: <strong data-bind="text: activeSpool().filament.material"></strong><br>
    <span>Vendor</span>: <strong data-bind="text: activeSpool().filament.vendor.name"></strong><br>
    <span>Weight</span>: <strong data-bind="text: parseInt(activeSpool().remaining_weight) + 'g'"></strong><br>
    <span class="spool-icon" data-bind="style: { color: '#' + activeSpool().filament.color_hex }" role="img" class="anticon" style="font-size: 42px; margin-right: 0px;">
        {% include 'icon_spool.svg' %}
    </span>
    <button class="btn btn-danger" data-bind="click: clear, attr: { id: activeSpool().id }">Clear</button>
</div>
<div data-bind="ifnot: activeSpool">
    <strong>No spool selected.</strong>
</div>
