<span>ID</span>: <strong data-bind="text: id"></strong><br>
<span>Name</span>: <strong data-bind="text: name"></strong><br>
<span>Vendor</span>: <strong data-bind="text: vendor"></strong><br>
<span>Weight</span>: <strong data-bind="text: weight"></strong><br>
